@import "../../App.css";

.wrapper{
    margin: auto;
}
.container{
    display: flex;
    flex-direction: row;
}
.calculator{
    width: 50%;
}
.stats {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .calculator,
    .stats {
        width: 100%;
    }
    .chart-mini {
        width: 95%;
    }
}