@import "../../App.css";

.wrapper{
    display:flex;
    width: 1000px;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    margin: auto;
}
.stats{
    height: 75vh;
    justify-content:space-around;
}