@import "../../App.css";

.calculator-footer {
    text-align: center;
    flex-shrink: 1;
    padding: var(--spacing-xl);
}

.calculator-main {
    display: flex;
    flex-direction: column;
    min-height: calc(500px + 20vh);
    justify-content: space-between;
}

/* results div */
.results{
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: var(--transition-default);
}
.results-show {
    text-align: center;
    align-content: center;
    height: 100%;
    opacity: 1;
}
.results-span{
    display: inline-block;
    padding: var(--spacing-md);
    border-radius: var(--border-radius-md);
}

/* inputs */
.inputs {
    flex: 1;
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: var(--spacing-lg) 0;
}
.input-group {
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin: var(--spacing-md);
}
.input-group label {
    font-size: var(--font-md);
    font-weight: 500;
    width: 50%;
}
.input-group input,select{
    width: 50%;
    padding: var(--spacing-md);
    text-align: center;
}
.workout-select{
    width: 50%;
    text-align: center;
}
.heart-rate-inputs {
    display: flex;
    width: 50%;
    gap: var(--spacing-sm);
}
.heart-rate-inputs input {
    flex: 1;
    width: 30%;
}

.duration-inputs {
    display: flex;
    width: 50%;
    gap: var(--spacing-sm);
}

.duration-inputs input {
    flex: 1;
    width: 40%;
    padding: var(--spacing-md);
    font-size: var(--font-md);
}
