@import "../../App.css";
.posts-wrap{
    margin-top: 2vw;
}

.post{
    /* box-shadow: 0px 2px 8px rgba(29, 22, 22, 0.32); */
    padding: 1vw;
    margin: 0.5vw;
    border-radius: 15px;
}

.post-header{
    display: flex;
}

.post-main{
    margin-top:10px;
    margin-bottom:10px;
}

.post-attachment {
  margin-top: 10px;
  display: flex;
}

.pdf-preview {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-footer {
  padding: 8px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 12px;
}

.post-footer > div {
  padding: 5px 10px;
  border-radius: 4px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

.post-footer > div:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.post-footer svg {
  font-size: 20px;
}

.post-footer span {
  font-size: 14px;
  margin-left: 4px;
}