@import "../../App.css";

.flex{
    display: flex;
    margin: auto;
    width: 80%;
    gap: var(--spacing-lg);
}
.posts{
    width: 70%;
}
.sidebar{
    height: fit-content;
    max-height: calc(100vh - var(--nav-height));
    width: 30%;
}