/* USE FOR GLOBAL CSS */
*{
    font-family: 'Public Sans';    
    padding: 0;
    margin: 0;
}
/* Every card div will have these properties */
.screen-element{
    margin: 5px;
    border-radius: 17px;
    /* border: 1px solid ; */
    padding: 10px;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 7px;
}
/* every button within the app */
/* transitions are to be decided */
.button{
    cursor:pointer;
    font-size: 18px;
    
    font-weight: bold;

    width: 85px;
    height: 35px;

    border-radius: 20px;
    border: 1px solid transparent;
}
.button-submit{
    width: 150px;
    height: 55px;
    font-size: 14px;
}

input,select{
    outline: none;
}