@import "../../App.css";

nav{
    display: flex;
    height: calc(40px + 1.5vw);
    justify-content: space-between;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: calc(10px + 1vw);
    padding-right: calc(10px + 1vw);
    box-shadow: 0px 2px 8px rgba(29, 22, 22, 0.32);
    transition:0.5s ease;
}
/* nav left */
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: calc(1rem + 0.8vw);
}

/* nav right */
.nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(20px + 2vw);
}

.options-icons{
    display: flex;
    justify-content: space-between;
    gap: calc(8px + 0.7vw);
}
.options-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(8px + 0.7vw);
}

.nav-link{
    padding: calc(3px + 0.3vw);
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.2s ease-in;
    font-size: calc(0.8rem + 0.3vw);
}

.menu-link{
    text-decoration: none;
}
.profile-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}