@import "../../App.css";

nav{
    display: flex;
    height: var(--nav-height);
    justify-content: space-between;
    border-bottom-left-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    box-shadow: var(--shadow-default);
    transition: var(--transition-slow);
}
/* nav left */
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: var(--font-lg);
}

/* nav right */
.nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(20px + 2vw);
}

.options-icons{
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-md);
}
.options-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-md);
}

.nav-link{
    padding: var(--spacing-xs);
    font-weight: bold;
    border-radius: var(--border-radius-md);
    text-decoration: none;
    transition: var(--transition-default);
    font-size: var(--font-sm);
}

.menu-link{
    text-decoration: none;
}
.profile-avatar{
    width: 50px;
    height: 50px;
    border-radius: var(--border-radius-full);
    object-fit: cover;
}